@import '../../../assets/styles/config';

#app-header {
  background: $gray-200;
  padding: .4rem 0;

  h1 {
    margin-bottom: 0;
    text-align: center;
    .app-logo {
      height: 3.5rem;
      border-radius: 50%;
      padding: .4rem;
      transition: $transition-base;

      &:hover {
        background: $primary;
      }
    }
  }

  .buttons {
    height: 100%;
    display: flex;
    align-items: center;
  }
}