@import '../../../assets/styles/config';

.cat-details{
  &--header{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: $gray-200;
    padding: 1rem;
    border-radius: $border-radius;
    h3{
      flex: 0 0 calc(60% - 1rem);
      margin-right: 1rem;
    }
    img{
      flex: 0 0 40%;
      max-width: 40%;
      box-shadow: $box-shadow;
      height: auto;
    }
  }
  &--main{

    p.label{
        color: $gray-500;
        font-size: 0.9rem;
        margin-bottom: 0;
      }

  }
}